@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-X: hidden; /* Hide scrollbars */
  }

/* nav bar  */
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-nav a {
    font-size: 1.2rem;
}

.nav-logo {
    width: 50px;
}


.nav-socail {
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.nav-socail:hover {
    transform: scale(1.1);
}


.navbar-collapse {
    justify-content: end;
}

.container {
    background: #171717;
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: #fff;
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather__units {
    font-size: 1.5rem;
}

.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather__forecast {
    background: #1e1e1e;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.weather__icon img {
    width: 100px;
}

.weather__temperature {
    font-size: 1.75rem;
}

.weather__minmax {
    display: flex;
    justify-content: center;
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather__card p {
    font-size: 14px;
}

.contact-img {
    width: 8vw;
    border: 1px solid;
    border-radius: 50%;
}

/* bottom  */
.contact-container {
    background-color: rgb(253, 244, 244);
    height: 25vh;
    width: 70vw;
    border-radius: 24px;

}

.contact-icons a {
    text-decoration: none;
    margin: 10px;
}

.contact-icons a img {
    width: 30px;
}

.contact-icons img:hover {
    transform: scale(1.1);
}
/* footer  */
.footer-logo {
    width: 45px;
    border-radius: 10px;
    margin: 0 5px;
    font-family: 'Ubuntu', sans-serif;
}

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
}


@media(max-width: 450px){
    .weather__info {
        grid-template-columns: none;
    }

    .container{
        margin: 0 auto;
        border-radius: 0%;
    }
}